[submodule "vendor/vim-space"]
	path = vendor/vim-space
	url = git://github.com/tpope/vim-space.git
[submodule "vendor/vim-pathogen"]
	path = vendor/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "home/.vim/bundles/vim-liquid"]
	path = home/.vim/bundles/vim-liquid
	url = git://github.com/tpope/vim-liquid.git
[submodule "home/.vim/bundles/vim-markdown"]
	path = home/.vim/bundles/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "home/.vim/bundle/vim-markdown"]
	path = home/.vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "home/.vim/bundle/vim-liquid"]
	path = home/.vim/bundle/vim-liquid
	url = git://github.com/tpope/vim-liquid.git
[submodule "home/.vim/bundle/vim-surround"]
	path = home/.vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "home/.vim/bundle/vim-rails"]
	path = home/.vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "home/.vim/bundle/vim-git"]
	path = home/.vim/bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "home/.vim/bundle/vim-endwise"]
	path = home/.vim/bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "home/.vim/bundle/vim-space"]
	path = home/.vim/bundle/vim-space
	url = git://github.com/spiiph/vim-space.git
[submodule "home/.vim/bundle/vim-repeat"]
	path = home/.vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
